# Ignore node_modules across all subfolders
**/node_modules/

# Ignore yarn-specific folders
**/.yarn/cache/
**/.yarn/unplugged/
**/.yarn/build-state.yml
**/pnp.*

# Ignore lock files (optional)
**/yarn.lock

# Ignore build output
**/dist/
**/build/

# Ignore log files
**/*.log

# Ignore IDE/editor files
.vscode/
.idea/
*/.git/
*/.github/
*/.vscode/
*/.idea/
*/.next/
*/.vercel/
*/.yarn/
*/.pnp/
*/.pnp.js
*/.env
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local
*/.DS_Store
*/.pnp-debug.log*
*/.npm-debug.log*
*/.yarn-debug.log*
*/.yarn-error.log*
*/.tsbuildinfo
*.swp

#large files
/token-voting
moloch-rage-quit
multisend
eth-streaming
token-wrapper-weth
rebasing-token